.hello {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
header {
  background-color: rgb(172, 169, 169);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}
h1 {
  margin-left: 250px;
}
main {
  display: flex;
  height: 100%;
}
#main {
  background-color: rgb(226, 228, 228);
  display: flex;
  flex-direction: column;
  flex: 8;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.maintext {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex: 0;
  margin-top: 50px;
  padding: 20px;
}
nav {
  background-color: rgb(153, 150, 150);
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
#newproject {
  color: rgb(104, 62, 8);
  font-weight: bold;
  max-height: 50px;
}
#projectheadline {
  text-decoration: underline;
  font-weight: 600;
  max-height: 50px;
}

footer {
  background-color: rgb(172, 169, 169);
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: 1;
}
#footertext {
  margin-left: 250px;
}
