* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
header {
  background-color: rgb(172, 169, 169);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}
h1 {
  margin-left: 250px;
}
main {
  display: flex;
  height: 100%;
}
#main {
  background-color: rgb(226, 228, 228);
  display: flex;
  flex-direction: column;
  flex: 8;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  padding: 20px;
}
.maintext {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  flex: 0;
  margin-top: 50px;
  padding: 20px;
}
#wrapper {
  background-color: rgb(153, 150, 150);
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
  align-items: center;
  overflow: auto;
}
#btnwrap {
  display: flex;
  gap: 50px;
}
.projectNav:hover {
  color: coral;
  cursor: pointer;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav > div,
p {
  display: block;
  max-height: 25px;
}
table {
  width: 90%;
}
th {
  width: 18%;
  padding: 4px;
}
td {
  background-color: white;
  text-align: center;
  padding: 4px;
}

#newproject {
  color: rgb(104, 62, 8);
  font-weight: bold;
  font-size: 20px;
  max-height: 50px;
}
#newproject:hover {
  color: coral;
  cursor: pointer;
}
button {
  padding: 10px;
}
#delbtn:hover,
#editbtn:hover {
  color: coral;
  cursor: pointer;
}
#projectheadline {
  text-decoration: underline;
  font-weight: 600;
  max-height: 50px;
}
fieldset {
  width: 40%;
  display: flex;
  flex-direction: column;
}
input,
.input,
#submitbtn,
#successtext {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 20px;
}

footer {
  background-color: rgb(172, 169, 169);
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: 1;
}
#footertext {
  margin-left: 250px;
}
